[user]
  name = Romain Hardy
  email = romain.hardy17@gmail.com
[color]
  diff = auto
  status = auto
  branch = auto
[alias]
  st = status
  ci = commit
  co = checkout
  fp = format-patch
  lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an %cr)%Creset' --abbrev-commit --date=relative

[core]
  editor = vim
  autocrlf = input
	excludesfile = ~/.gitignore

[merge]
  tool = nvimdiff

[mergetool]
  prompt = false

[github]
	user = romain-h
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
[url "ssh://git@github.com/monzo/"]
	insteadOf = https://github.com/monzo/
[pull]
	ff = only
